:root{
    --bg-color: rgb(66, 66, 66);
    --bg-border-color: #2c2c2c;
}

* {
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
}
.chat-message-user{
    font-weight: bold;
    color: #d5d5d5;
}

button{
    padding: 5px;
    border-radius: 5px;
    border: 0;
    background: #383838;
    color: whitesmoke;
    transition: all 0.2s ease-in-out;
}

button:hover{
    background: #4d4d4d;
    box-shadow: #4d4d4d 0px 0px 10px 0px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #515151;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #212121;
    border-radius: 10px;
  }


#chatBox {
    height: calc(100vh - 10px);
    width: calc(100vw - 10px);
    background: var(--bg-border-color);
    padding: 5px;
    display: flex;
    position: fixed;
    flex-direction: column;
}

.self-send-user{
    text-decoration: underline;
    color: red;
}

#chat-users-btn{
    font-size: larger;
}




#chat-users-connected{
    font-size: small;
}
#chat-title{
    font-size: x-large;
}
#pingTxt{
    font-size: small;
}

#chat-header-left-element{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#chat-header-middle-element{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#chat-version{
    font-size: small;
    margin-left: 1rem;
}

#chat-badge-status{
    margin-left: 1rem;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    display: inline-block;
    transition: 1s all ease-in-out;
}

#chat-header {
    padding: 10px;
    margin: 0;
    height: 30px;
    display: flex;

    justify-content: space-between;
    align-items: center;
    background: #2c2c2c;
    color: #d5d5d5;

}

#chat-div {
    flex: 1;
    background: var(--bg-color);
    overflow: hidden auto;
}

#chat-input-div {
    height: 40px;
    background: #1c121f;
    display: flex;
    padding: 10px;
}
#chat-input-text{
    flex: 1;
    border-radius: 5px;
    background: #383838;
    border-style: solid;
    border-width: 2px;
    margin-right: 10px;
    color: whitesmoke;
    font-size: larger;
}
#chat-input-button{
    display: flex;
    padding: 5px;
    margin: 0;
    align-items: center;
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
}
#chat-input-button > img{
    margin: 0;
    padding: 0;
    height: 30px;
}

.chat-message{
    display: flex;
    color: #d5d5d5;
    border-bottom: 2px solid #2c2c2c;
    padding: 10px;
}

.chat-message-txt{
    padding-left: 3px;
    margin: 0;
    word-wrap: break-word;
    max-width: calc(100vw - 65px);
}

.chat-shake-element{
    animation: horizontal-shaking 0.3s ease-in-out ;
}
.chat-message-appear{
    animation: fadeIn 0.2s ease-in-out ;
}

@keyframes horizontal-shaking {
 0% { transform: translateX(0) }
 25% { transform: translateX(5px) }
 50% { transform: translateX(-5px) }
 75% { transform: translateX(5px) }
 100% { transform: translateX(0) }
}

@keyframes fadeIn {
 0% { opacity: 0; transform: translateX(10px) }
 100% { opacity: 1; transform: translateY(0) }
}


/* Usernames colors */
.txt-red {
    color: #ff0000;
}
.txt-yellow {
    color: #ffee00;
}
.txt-green {
    color: #00d700;
}
.txt-blue {
    color: #00aaff;
}
.txt-orange {
    color: #cb8700;
}
.txt-purple {
    color: #800080;
}
.txt-pink {
    color: #ff69b4;
}


/* badges colors */
.badge-red {
    background-color: #ff0000;
}
.badge-green {
    background-color: #00d700;
}
.badge-white {
    background-color: #c1c1c1;
}
